.bag-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bag-chart__svg {
  width: auto;
  height: calc(100vh - 130px);
  max-height: 620px;
  max-width: 100%;
}
